/* custom properties */
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #999;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #333;
  --color-grey-dark-4: #222;

  --bg-color: var(--color-grey-dark-1);

  --btn-color: var(--color-primary);
  --btn-bg-color: var(--color-grey-light-2);
}

/* -- universal reset -- */
* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: inherit;
}

/* -- declare a root font size to use rem later on -- */
html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px;

  @media only screen and (max-width: $media-xxl) {
    font-size: 62.5%;
    // font-size: 75%;
  }
  @media only screen and (max-width: $media-xl) {
    font-size: 62.5%;
    // font-size: 75%;
  }
  @media only screen and (max-width: $media-lg) {
    font-size: 55%;
    // font-size: 70%;
  }
  @media only screen and (max-width: $media-md) {
    font-size: 55%;
    // font-size: 68.75%;
  }
  @media only screen and (max-width: $media-sm) {
    // font-size: 50%;
    font-size: 55%;
  }
  @media only screen and (max-width: $media-xs) {
    font-size: 50%;
    // font-size: 56.25%;
  }
  @media only screen and (max-width: $media-xxs) {
    font-size: 45%;
    // font-size: 50%;
  }
  @media only screen and (max-width: $media-xxxs) {
    // font-size: 40%;
  font-size: 45%;
}
  @media only screen and (max-width: $media-xxxxs) {
    // font-size: 40%;
    font-size: 45%;
  }
  @media only screen and (max-width: $media-xxxxxs) {
    // font-size: 40%;
    font-size: 45%;
  }
  @media only screen and (max-width: $media-xxxxxxs) {
    // font-size: 35%;
    font-size: 40%;
  }
}

/* -- universal font definitions */
body {
  background-color: var(--color-grey-light-3);
  color: var(--color-grey-light-1);

  @include respond($media-md) {
    padding: 0;
  }
}

/* -- style selected text -- */
::selection {
  background-color: var(--color-primary);
  color: var(--color-grey-light-1);
}

