// font
$default-font-size: 1.6rem;

// media breakpoints
$media-xxxxxxs: 11.25em; // 180px
$media-xxxxxs: 15em;     // 240px
$media-xxxxs: 18.75em;   // 300px
$media-xxxs: 22.5em;     // 360px
$media-xxs: 25em;        // 400px
$media-xs: 32.5em;       // 520px
$media-sm: 37.5em;       // 600px
$media-md: 56.25em;      // 900px
$media-lg: 75em;         // 1200px
$media-xl: 93.75em;      // 1500px
$media-xxl: 112.5em;     // 1800px
