:host {
    cursor: pointer;
}

img {
    width: 4rem;
    height: 3.2rem;
    margin-right: 1rem;
}

img:hover {
    transition: 400ms ease-out;
    transform: scaleX(1.2) scaleY(1.4);
}

.jo-country-cell {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding: 1rem 1rem;
}

.jo-country-orderby {
  font-size: 75%;
  font-weight: normal;
  margin-left: 6rem;
}


