<div class="countries__cell">
    <img [src]="country.flag" class="countries__img">
    <div class="countries__title">{{ 'COUNTRY_' + country.alpha3Code | translate}} ({{country.alpha3Code}})</div>
</div>
<div
  *ngIf="orderBy && orderBy?.fieldName !== 'name'"
  class="countries__orderby">
  {{ getOrderByDescription(orderBy.fieldName) | translate }}: {{ getSortValue(orderBy.fieldName)}}
</div>
<div
  *ngIf="getOrderByRankingVisibility(orderBy.fieldName)"
  class="countries__ranking">
  {{ ranking }}
</div>


