<nav class="navbar navbar-expand-lg navbar-light bg-faded">
  <a i18n class="navbar-brand" href="#">{{'Countries of the World' | translate }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let item of items; first as first"
        class="nav-item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: first}">
        <a class="nav-link"
           [routerLink]="item.path">
          {{item.description | translate}}
        </a>
      </li>
    </ul>
    <span class="navbar-text">
      {{envText}}
    </span>
  </div>
</nav>
