<div class="page" @slideLeftRight>
  <header class="header">
    <img class="country__flag"[src]="country?.flag">
    <h2 class="country__name">{{'COUNTRY_' + country?.alpha3Code | translate}} ({{country?.alpha3Code}})</h2>
    <nav class="navigation">
      <a href="#" (click)="onBack()" class="navigation__icon-box">
        <svg class="navigation__icon">
          <use xlink:href="../assets/img/sprite.svg#icon-arrow-bold-left"></use>
        </svg>
        <span class="navigation__notification">{{ 'Back' | translate }}</span>
      </a>
      <a *ngIf="country.latlng[0] && country.latlng[1]"
         href="https://www.google.com/maps/place/{{country.latlng[0]}},{{country.latlng[1]}}/@{{country.latlng[0]}},{{country.latlng[1]}},6z?language={{language}}"
         target="_blank"
         class="navigation__icon-box">
        <svg class="navigation__icon">
          <use xlink:href="../assets/img/sprite.svg#icon-location-pin"></use>
        </svg>
        <span class="navigation__notification">Google Maps</span>
      </a>
      <a  href="https://{{language}}.wikipedia.org/wiki/{{country.name}}"
          target="_blank"
          class="navigation__icon-box">
        <svg class="navigation__icon">
          <use xlink:href="../assets/img/sprite.svg#icon-open-book"></use>
        </svg>
        <span class="navigation__notification">Wikipedia</span>
      </a>
    </nav>
  </header>

  <section class="country-details">
    <div *ngIf="country?.alpha2Code" class="country-details__block">
      <div class="country-details__label">{{ 'ISO Code' | translate }}</div>
      <div class="country-details__value">{{country?.alpha2Code}}</div>
    </div>
    <div *ngIf="country?.numericCode" class="country-details__block">
      <div class="country-details__label">{{ 'Numeric Code' | translate }}</div>
      <div class="country-details__value">{{country?.numericCode}}</div>
    </div>
    <div *ngIf="country?.region" class="country-details__block">
      <div class="country-details__label">{{ 'Region' | translate }}</div>
      <div class="country-details__value">{{country?.region | translate }}</div>
    </div>
    <div *ngIf="country?.subregion" class="country-details__block">
      <div class="country-details__label">{{ 'Sub Region' | translate }}</div>
      <div class="country-details__value">{{country?.subregion | translate }}</div>
    </div>
    <div *ngIf="country?.regionalBlocs && country?.regionalBlocs.length === 1" class="country-details__block">
      <div class="country-details__label">{{ 'Regional Block' | translate }}</div>
      <div class="country-details__value">{{country?.regionalBlocs[0].acronym | translate}} ({{country?.regionalBlocs[0].acronym}})</div>
    </div>
    <div *ngIf="country?.regionalBlocs && country?.regionalBlocs.length > 1" class="country-details__block">
      <jo-zippy [title]="'Regional Blocks' | translate" class="country-details__zippy">
        <ul class="country-details__list-group">
          <li *ngFor="let block of country?.regionalBlocs" class="country-details__list-group-item">
            {{block.acronym | translate}} ({{block.acronym}})
          </li>
        </ul>
      </jo-zippy>
    </div>
    <div *ngIf="country?.capital" class="country-details__block">
      <div class="country-details__label">{{ 'Capital City' | translate }}</div>
      <div class="country-details__value">{{'CITY_' + country?.capital | translate}}</div>
    </div>
    <div *ngIf="country?.latlng[0]" class="country-details__block">
      <div class="country-details__label">{{ 'Latitude' | translate }}</div>
      <div class="country-details__value">{{country?.latlng[0] | number}}</div>
    </div>
    <div *ngIf="country?.latlng[1]" class="country-details__block">
      <div class="country-details__label">{{ 'Longitude' | translate }}</div>
      <div class="country-details__value">{{country?.latlng[1] | number}}</div>
    </div>
    <div *ngIf="country?.area" class="country-details__block">
      <div class="country-details__label">{{ 'Land Area' | translate }}</div>
      <div class="country-details__value">{{country?.area | number}} km<sup>2</sup></div>
    </div>
    <div *ngIf="country?.timezones && country?.timezones.length === 1" class="country-details__block">
      <div class="country-details__label">{{ 'Timezone' | translate }}</div>
      <div class="country-details__value">{{country?.timezones[0]}}</div>
    </div>
    <div *ngIf="country?.timezones && country?.timezones.length > 1" class="country-details__block">
      <jo-zippy [title]="'Timezones' | translate" class="country-details__zippy">
        <ul class="country-details__list-group">
          <li *ngFor="let timezone of country?.timezones" class="country-details__list-group-item">
            {{timezone}}
          </li>
        </ul>
      </jo-zippy>
    </div>
    <div *ngIf="country?.population" class="country-details__block">
      <div class="country-details__label">{{ 'Population' | translate }}</div>
      <div class="country-details__value">{{country?.population | number}}</div>
    </div>
    <div *ngIf="country?.gini" class="country-details__block">
      <div class="country-details__label">{{ 'Gini Index' | translate }}</div>
      <div class="country-details__value">{{country?.gini | number}}</div>
    </div>
    <div *ngIf="country?.callingCodes" class="country-details__block">
      <div class="country-details__label">{{ 'Calling Codes' | translate}}</div>
      <div class="country-details__value">{{country?.callingCodes}}</div>
    </div>
    <div *ngIf="country?.topLevelDomain" class="country-details__block">
      <div class="country-details__label">{{ 'Top Level Domain' | translate }}</div>
      <div class="country-details__value">{{country?.topLevelDomain}}</div>
    </div>
    <div *ngIf="country?.borders && country?.borders.length === 1" class="country-details__block">
      <div class="country-details__label">{{ 'Border' | translate }}</div>
      <div class="country-details__value">{{'COUNTRY_' + country?.borders[0]['code'] | translate }}</div>
    </div>
    <div *ngIf="country?.borders && country?.borders.length > 1" class="country-details__block">
      <jo-zippy [title]="'Borders' | translate" class="country-details__zippy">
        <ul class="country-details__list-group">
          <li *ngFor="let border of country?.borders"
              class="country-details__list-group-item country-details__list-group-item--clickable">
            <a (click)="onNavigateToCountry(border['code'])"> {{'COUNTRY_' + border['code'] | translate}}</a>
          </li>
        </ul>
      </jo-zippy>
    </div>
    <div *ngIf="country?.currencies && country?.currencies.length === 1" class="country-details__block">
      <div class="country-details__label">{{ 'Currency' | translate}}</div>
      <div class="country-details__value">{{ 'CURRENCY_' + country?.currencies[0].code | translate}}
        ({{country?.currencies[0].code}}/{{country?.currencies[0].symbol}})
      </div>
    </div>
    <div *ngIf="country?.currencies && country?.currencies.length > 1" class="country-details__block">
      <jo-zippy [title]="'Currencies' | translate" class="country-details__zippy">
        <ul class="country-details__list-group-item">
          <li *ngFor="let currency of country?.currencies" class="country-details__list-group-item">
            {{ 'CURRENCY_' + currency.code | translate}} ({{currency.code}}/{{currency.symbol}})
          </li>
        </ul>
      </jo-zippy>
    </div>
    <div *ngIf="country?.nativeName" class="country-details__block">
      <div class="country-details__label">{{'Native Name' | translate }}</div>
      <div class="country-details__value">{{country?.nativeName}}</div>
    </div>
    <div *ngIf="translations && translations?.length === 1" class="country-details__block">
      <div class="country-details__label"> {{'Translation' | translate}}</div>
      <div class="country-details__value">{{translations[0]?.name}} ({{translations[0]?.language}})</div>
    </div>
    <div *ngIf="translations && translations?.length > 1" class="country-details__block">
      <jo-zippy [title]="'Translations' | translate" class="country-details__zippy">
        <ul class="country-details__list-group">
          <li *ngFor="let translation of translations" class="country-details__list-group-item">
            {{translation.name}} ({{translation.language}})
          </li>
        </ul>
      </jo-zippy>
    </div>
    <div *ngIf="country?.altSpellings && country?.altSpellings.length === 1" class="country-details__block">
      <div class="country-details__label">{{ 'Alt. Spelling' | translate }}</div>
      <div class="country-details__value">{{country?.altSpellings[0]}}</div>
    </div>
    <div *ngIf="country?.altSpellings && country?.altSpellings.length > 1" class="country-details__block">
      <jo-zippy [title]="'Alt. Spellings' | translate" class="country-details__zippy">
        <ul class="country-details__list-group">
          <li *ngFor="let spelling of country?.altSpellings" class="country-details__list-group-item">
            {{spelling}}
          </li>
        </ul>
      </jo-zippy>
    </div>
    <div *ngIf="country?.demonym" class="country-details__block">
      <div class="country-details__label">{{ 'Demonym' | translate }}</div>
      <div class="country-details__value">{{'DEMONYM_' + country?.demonym | translate }}</div>
    </div>
    <div *ngIf="country?.languages && country?.languages.length === 1" class="country-details__block">
      <div class="country-details__label">{{ 'Language' | translate }}</div>
      <div class="country-details__value">{{'LANGUAGE_' + country?.languages[0].iso639_1 | translate }}</div>
    </div>
    <div *ngIf="country?.languages && country?.languages.length > 1" class="country-details__block">
      <jo-zippy [title]="'Languages' | translate" class="country-details__zippy">
        <ul class="country-details__list-group">
          <li *ngFor="let language of country?.languages" class="country-details__list-group-item">
            {{'LANGUAGE_' + language.iso639_1 | translate }}
          </li>
        </ul>
      </jo-zippy>
    </div>
  </section>
</div>
