<div class="input-group">
  <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
  <input type="text"
         (input)="onInput($event.target.value)"
         value="{{searchCriteria.term}}"
         class="form-control"
         placeholder="{{ 'Search' | translate }}"
         aria-describedby="basic-addon1">
</div>

<div class="btn-group jo-flx-row"> <!-- data-toggle="buttons" -->
  <label class="btn btn-secondary" [class.active]="searchCriteria.africa"
         (click)="onToggle(africa)">
    <input type="checkbox" [checked]="searchCriteria.africa" id="africa" #africa>
    <span>{{'Africa' | translate}}</span>
  </label>
  <label class="btn btn-secondary" [class.active]="searchCriteria.antarctica"
         (click)="onToggle(antarctica)">
    <input type="checkbox" [checked]="searchCriteria.antarctica" id="antarctica" #antarctica>
    <span>{{'Antarctica' | translate}}</span>
  </label>
  <label class="btn btn-secondary" [class.active]="searchCriteria.asia"
         (click)="onToggle(asia)">
    <input type="checkbox" [checked]="searchCriteria.asia" id="asia" #asia>
    <span>{{'Asia' | translate}}</span>
  </label>
  <label class="btn btn-secondary" [class.active]="searchCriteria.australia"
         (click)="onToggle(australia)">
    <input type="checkbox" [checked]="searchCriteria.australia" id="australia" #australia>
    <span>{{'Australia' | translate}}</span>
  </label>
  <label class="btn btn-secondary" [class.active]="searchCriteria.america"
         (click)="onToggle(america)">
    <input type="checkbox" [checked]="searchCriteria.america" id="america" #america>
    <span>{{'Amerika' | translate}}</span>
  </label >
  <label class="btn btn-secondary" [class.active]="searchCriteria.europe"
         (click)="onToggle(europe)">
    <input type="checkbox" [checked]="searchCriteria.europe" id="europe" #europe>
    <span>{{'Europe' | translate}}</span>
  </label>
  <label class="btn btn-secondary" [class.active]="searchCriteria.none"
         (click)="onToggle(none)">
    <input type="checkbox" [checked]="searchCriteria.none" id="none" #none>
    <span>{{'None' | translate}}</span>
  </label>
</div>

