<div class="jo-flx-row jo-det-bdy">
  <div class="jo-sea-blk">
    <md-input-container>
      <md-icon mdPrefix>search</md-icon>
      <input type="search" mdInput
             (input)="onInput($event.target.value)"
             value="{{searchCriteria.term}}">
    </md-input-container>
  </div>
  <!--
  <div class="jo-sea-blk">
    <a
      md-icon-button
      (click)="onSettings()"
      class="jo-btn-block">
      <md-icon>settings</md-icon>
      <span>{{'Current Settings' | translate}}</span>
    </a>
  </div>
  -->
</div>
