<div class="zippy">
  <div (click)="onToggle()" class="zippy__heading"
       [ngClass]="{ 'expanded': isExpanded }"
  >
    {{ title }}
  </div>
  <div (click)="onToggle()" class="zippy__icon">
      <svg *ngIf="!isExpanded" class="zippy__icon--not-expanded">
        <use xlink:href="../assets/img/sprite.svg#icon-chevron-down"></use>
      </svg>
    <svg *ngIf="isExpanded" class="zippy__icon--expanded">
      <use xlink:href="../assets/img/sprite.svg#icon-chevron-up"></use>
    </svg>
  </div>
  <div @slideUpDown *ngIf="isExpanded" class="zippy__body">
    <ng-content></ng-content>
  </div>
</div>
