/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500";
@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900";

/* -- universal reset -- */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

/* -- universal font definitions */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 100%;
  line-height: 1.7;
  color: #777;

  box-sizing: border-box;
}

.jo-flx-row {
  display: flex;
  flex-flow: row wrap;

}

.jo-flx-col {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
