<!--
<div class="btn-box btn-box--large" (click)="onClick()" >
  <a href="#" class="btn btn--round">
    <svg class="btn-icon">
      <use xlink:href="../assets/img/sprite.svg#icon-funnel"></use>
    </svg>
  </a>
  <div class="btn-text">Filter</div>
</div>
-->
<a (click)="onClick()" class="navigation__icon-box">
  <svg class="navigation__icon">
    <use xlink:href="../assets/img/sprite.svg#icon-funnel"></use>
  </svg>
  <span class="navigation__notification">{{'Filter' | translate}}</span>
</a>
