mat-card {
  margin-bottom: 1rem;
}

h4 {
  margin-top: 1rem;
  font-weight: bold;
}

.jo-set-blk {
  justify-content: flex-start;
  width: 32rem;
}

.jo-set-blk div {
  width: 50%; /*calc(50% - 10px); */
  padding: 1rem 1rem;
}

.jo-set-blk div i {
  align-self: flex-end;
  float: right;
}

.jo-set-lbl {
  font-weight: bold;
}

.jo-btn-block {
  width: 100%;
  margin-bottom: 1rem;
  text-decoration: none;
}

